version: 7.23.7

type: DeclarativeSource

description: >-
  Granola is an AI-powered meeting notes tool. This connector reads meeting
  notes from your Granola workspace using the Granola API.

check:
  type: CheckStream
  stream_names:
    - folders

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      error_handler:
        type: DefaultErrorHandler
        max_retries: 5
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
            max_waiting_time_in_seconds: 60
          - type: ExponentialBackoffStrategy
            factor: 5
      request_parameters:
        page_size: "30"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: cursor
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('cursor', '') }}"
          stop_condition: >-
            {{ not response.get('cursor') or not response.get('hasMore', False)
            }}

streams:
  - type: DeclarativeStream
    name: notes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://public-api.granola.ai/v1/notes
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          folder_id: "{{ stream_partition.folder_id }}"
          page_size: "30"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - notes
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: folder_lookup
              retriever:
                type: SimpleRetriever
                paginator:
                  $ref: "#/definitions/linked/SimpleRetriever/paginator"
                requester:
                  type: HttpRequester
                  url: https://public-api.granola.ai/v1/folders
                  http_method: GET
                  authenticator:
                    $ref: "#/definitions/linked/HttpRequester/authenticator"
                  error_handler:
                    $ref: "#/definitions/linked/HttpRequester/error_handler"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - folders
                  record_filter:
                    type: RecordFilter
                    condition: >-
                      {{ record['name'] | default('', true) | lower | trim ==
                      config['folder_name'] | lower | trim }}
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  required:
                    - id
                  properties:
                    id:
                      type: string
                    name:
                      type:
                        - "null"
                        - string
                    parent_folder_id:
                      type:
                        - "null"
                        - string
                  additionalProperties: true
            parent_key: id
            partition_field: folder_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        required:
          - id
        properties:
          id:
            type: string
            description: The unique identifier of the note.
          owner:
            type:
              - "null"
              - object
            description: The owner of the note.
            properties:
              name:
                type:
                  - "null"
                  - string
                description: The name of the note owner.
              email:
                type:
                  - "null"
                  - string
                description: The email address of the note owner.
          title:
            type:
              - "null"
              - string
            description: The title of the note.
          object:
            type: string
            description: The object type, always "note".
          created_at:
            type: string
            description: The creation time of the note in ISO 8601 format.
            format: date-time
          updated_at:
            type:
              - "null"
              - string
            description: The last update time of the note in ISO 8601 format.
            format: date-time
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: created_at
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date', (now_utc() -
          duration('P730D')).strftime('%Y-%m-%d')) }}
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: created_before
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: created_after
        inject_into: request_parameter
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: detailed_notes
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://public-api.granola.ai/v1/notes/{{ stream_partition.note_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 413
              error_message: >-
                Skipping a note in detailed_notes because its transcript is too
                large to be returned inline. Sync the note_transcripts stream to
                replicate this transcript.
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 60
            - type: ExponentialBackoffStrategy
              factor: 5
        request_parameters:
          include: transcript
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            partition_field: note_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        required:
          - id
        properties:
          id:
            type: string
            description: The unique identifier of the note.
          owner:
            type:
              - "null"
              - object
            description: The owner of the note.
            properties:
              name:
                type:
                  - "null"
                  - string
                description: The name of the note owner.
              email:
                type:
                  - "null"
                  - string
                description: The email address of the note owner.
          title:
            type:
              - "null"
              - string
            description: The title of the note.
          object:
            type:
              - "null"
              - string
            description: The object type, always "note".
          attendees:
            type:
              - "null"
              - array
            description: The attendees of the meeting.
            items:
              type: object
              properties:
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the attendee.
                email:
                  type:
                    - "null"
                    - string
                  description: Email of the attendee.
          created_at:
            type:
              - "null"
              - string
            description: The creation time of the note in ISO 8601 format.
            format: date-time
          transcript:
            type:
              - "null"
              - array
            description: Transcript of the meeting.
            items:
              type: object
              properties:
                text:
                  type:
                    - "null"
                    - string
                  description: Transcript text content.
                speaker:
                  type:
                    - "null"
                    - object
                  description: Speaker information.
                  properties:
                    source:
                      type:
                        - "null"
                        - string
                      description: Source of the speaker (microphone or speaker).
                end_time:
                  type:
                    - "null"
                    - string
                  description: End time of the transcript segment.
                  format: date-time
                start_time:
                  type:
                    - "null"
                    - string
                  description: Start time of the transcript segment.
                  format: date-time
          updated_at:
            type:
              - "null"
              - string
            description: The last update time of the note in ISO 8601 format.
            format: date-time
          summary_text:
            type:
              - "null"
              - string
            description: Plain text summary of the note.
          calendar_event:
            type:
              - "null"
              - object
            description: Associated calendar event details.
            properties:
              invitees:
                type:
                  - "null"
                  - array
                description: List of calendar event invitees.
                items:
                  type: object
                  properties:
                    email:
                      type:
                        - "null"
                        - string
                      description: Email of the invitee.
              organiser:
                type:
                  - "null"
                  - string
                description: Email of the event organiser.
              event_title:
                type:
                  - "null"
                  - string
                description: Title of the calendar event.
              calendar_event_id:
                type:
                  - "null"
                  - string
                description: Calendar event identifier.
              scheduled_end_time:
                type:
                  - "null"
                  - string
                description: Scheduled end time of the event.
                format: date-time
              scheduled_start_time:
                type:
                  - "null"
                  - string
                description: Scheduled start time of the event.
                format: date-time
          summary_markdown:
            type:
              - "null"
              - string
            description: Markdown formatted summary of the note.
          folder_membership:
            type:
              - "null"
              - array
            description: The folder membership of the note.
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  description: Unique folder identifier.
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the folder.
                object:
                  type:
                    - "null"
                    - string
                  description: Object type (folder).
        additionalProperties: true
  - type: DeclarativeStream
    name: note_transcripts
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://public-api.granola.ai/v1/notes/{{ stream_partition.note_id
          }}/transcript
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 5
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 404
              error_message: >-
                Skipping a note in note_transcripts because Granola no longer
                returns a transcript for it. The note was likely deleted or
                unshared during the sync.
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 60
            - type: ExponentialBackoffStrategy
              factor: 5
        request_parameters:
          page_size: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - transcript
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            partition_field: note_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        required:
          - note_id
        properties:
          text:
            type:
              - "null"
              - string
            description: Transcript text content.
          note_id:
            type: string
            description: >-
              The unique identifier of the note the transcript segment belongs
              to.
          speaker:
            type:
              - "null"
              - object
            description: Speaker information.
            properties:
              name:
                type:
                  - "null"
                  - string
                description: >-
                  Resolved name of the identified speaker, such as "Alice
                  Smith". Present only when a speaker could be identified.
              source:
                type:
                  - "null"
                  - string
                description: Source of the speaker (microphone or speaker).
              attribution:
                type:
                  - "null"
                  - string
                description: >-
                  Who the segment is attributed to: "me" for the note's owner,
                  "them" for other meeting participants. Omitted when the
                  attribution is unknown.
              diarization_label:
                type:
                  - "null"
                  - string
                description: >-
                  Diarized anonymous speaker label, such as "Speaker A". Present
                  only on iOS transcripts when diarization is available.
          end_time:
            type:
              - "null"
              - string
            description: End time of the transcript segment.
            format: date-time
          start_time:
            type:
              - "null"
              - string
            description: Start time of the transcript segment.
            format: date-time
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - note_id
            value: "{{ stream_partition.note_id }}"
  - type: DeclarativeStream
    name: folders
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://public-api.granola.ai/v1/folders
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - folders
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        required:
          - id
        properties:
          id:
            type: string
            description: The unique folder identifier.
          name:
            type:
              - "null"
              - string
            description: The name of the folder.
          parent_folder_id:
            type:
              - "null"
              - string
            description: >-
              The identifier of the parent folder, or null for a top-level
              folder.
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - folder_name
    properties:
      api_key:
        type: string
        description: >-
          Your Granola API key. For a personal key, open the Granola desktop app
          and go to Settings > Connectors > API keys > Create new key. For an
          Enterprise API key, go to Settings > API > Create new key. On
          Enterprise plans, workspace admins must enable "Allow personal API
          keys" in Settings > Workspace > General before personal keys can be
          created.
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          The earliest date from which to start replicating notes, in YYYY-MM-DD
          format.
        order: 2
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2024-01-01"
        pattern_descriptor: YYYY-MM-DD
      folder_name:
        type: string
        description: >-
          The name of the Granola folder to replicate, as it appears in the app.
          The connector looks up the matching folder ID and replicates notes in
          that folder and its child folders. Matching ignores case and
          surrounding whitespace. If several folders share this name, notes from
          all of them are replicated. Sync the folders stream to see the names
          and hierarchy available to your API key.
        order: 1
        title: Folder Name
        examples:
          - Top secret recipes
    additionalProperties: true

metadata:
  testedStreams:
    notes:
      streamHash: 60fb17c8e2207908cf261783f582c8148faeec0a
    folders:
      streamHash: b7bfdfeb3950604878320c681f4932c1105092bd
    detailed_notes:
      streamHash: 6517a40b79ccd3fc435df7776f7ae3530a7d8433
    note_transcripts:
      streamHash: aef5f2df6a3dfa89914331671e8936b80d7f28f1
  autoImportSchema:
    notes: false
    folders: false
    detailed_notes: false
    note_transcripts: false

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 25
          interval: PT5S
      matchers: []

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 6
